.page-header a {
	color: #404040;
	text-decoration: none;
}

.social {
	float:left;
	margin-right:30px;
}
.social:first-child {
	margin-right:15px;
}
span.ext {
	background:url(/images/extlink.png) right center no-repeat;
}

.follow {
}

.follow a {
	border-top:1px solid #f1f1f1;
}

.twtr-bd {
  padding: 1px 1px !important;
}

.twtr-hd {
	display: none;
}

.well {
    min-height: 55px;
}

.share-delicious {
	width:50px;
	height:63px;
	text-align:center;
}

.delicious {
	width:50px;
	height: 45px;
	background: url(/images/del+above.png) no-repeat;
	font-weight: bold;
	font-size: 16px;
	font-family:arial;
	color:#adadad;
	margin:0 auto;
	line-height:36px;
}

.delicious-b {
	font-size:10px;
	text-transform:none;
	color:#FFF;
	margin:0 auto;
	width:50px;
	height:17px;
	line-height: 17px;
}
.delicious-b a:link, .delicious-b a:visited {
	color:#FFF;
	font-weight:normal;
	background: url(/images/del+new.png) no-repeat;
	display: block;
	text-decoration:none;
}

.delicious-b a:hover {
	color:#11788b;
	font-weight:normal;
	text-decoration:none;
	background: url(/images/del+new.png) no-repeat center -17px;
	display: block;
}

#search-form {
  float: left;
  margin: 6px 0 0;
  opacity: 1;
  position: relative;
}

#search-form span.glass {
  cursor: pointer;
  display: block;
  padding: 7px 8px 5px;
  position: absolute;
  right: 0;
}

#search-form span.glass i {
  background-image: url("/images/sprite-icons.png");
  background-position: -224px -96px;
  display: block;
  font-size: 0;
  height: 14px;
  width: 14px;
}

.tagcloud {
    line-height: 1.5em;
    text-align: justify;
}
.tagcloud a {
    margin: 0 4px 0 0;
    text-decoration: none;
    white-space: nowrap;
}

.tagcloud a.size-0 {
    color: #A9A9A9;
    font-size: 0.95em;
}
.tagcloud a.size-1 {
    color: #999999;
    font-size: 1em;
}
.tagcloud a.size-2 {
    color: #898989;
    font-size: 1.05em;
}
.tagcloud a.size-3 {
    color: #797979;
    font-size: 1.1em;
}
.tagcloud a.size-4 {
    color: #696969;
    font-size: 1.15em;
}
.tagcloud a.size-5 {
    color: #595959;
    font-size: 1.2em;
}
.tagcloud a.size-6 {
    color: #494949;
    font-size: 1.25em;
}
.tagcloud a.size-7 {
    color: #393939;
    font-size: 1.3em;
}
.tagcloud a.size-8 {
    color: #292929;
    font-size: 1.35em;
}
.tagcloud a.size-9 {
    color: #191919;
    font-size: 1.4em;
}
.tagcloud a.size-10 {
    color: #090909;
    font-size: 1.45em;
}
.tagcloud a.size-11 {
    color: #090909;
    font-size: 1.50em;
}
.tagcloud a.size-12 {
    color: #090909;
    font-size: 1.55em;
}
.tagcloud a.size-13 {
    color: #090909;
    font-size: 1.60em;
}
.tagcloud a.size-14 {
    color: #090909;
    font-size: 1.65em;
}
.tagcloud a.size-15 {
    color: #090909;
    font-size: 1.70em;
}
.tagcloud a.size-16 {
    color: #090909;
    font-size: 1.75em;
}
.tagcloud a.size-17 {
    color: #090909;
    font-size: 1.80em;
}
.tagcloud a.size-18 {
    color: #090909;
    font-size: 1.85em;
}
.tagcloud a.size-19 {
    color: #090909;
    font-size: 1.90em;
}
.tagcloud a.size-20 {
    color: #090909;
    font-size: 1.95em;
}
.tagcloud a.size-21 {
    color: #090909;
    font-size: 2.0em;
}
.tagcloud a.size-48 {
    color: #090909;
    font-size: 2.0em;
}
