li
    a.ext(href="http://www.dviel.com/", target="_blank") Damien Viel’s blog
    span.ext
li
  a.ext(href="http://blogpro.toutantic.net/", target="_blank") Aurélien Pelletier
  span.ext
li
  a.ext(href="http://blog.aheritier.net/", target="_blank") Le blog d"Arnaud
  span.ext
li
  a.ext(href="http://blog.toutantic.net/", target="_blank") Aurel"s blog
  span.ext
li
  a.ext(href="http://blog.loof.fr/", target="_blank") new Blog( perso );
  span.ext
li
  a.ext(href="http://www.application-servers.com/", target="_blank") a19s
  span.ext
li
  a.ext(href="http://www.onirik.org/", target="_blank") Onirik
  span.ext
li
  a.ext(href="http://grumeautique.blogspot.com/", target="_blank") Petit précis de Grumeautique
  span.ext
