extends layout

block content
  include author
  //- underscore helps us filter and sort our articles
  - var articles = _.chain(contents.articles._.directories).map(function(item) {
  -   // map articles to index pages of subdirectories of 'articles'
  -   return item.index
  - }).compact().sortBy(function(item) { // compact removes any directories w/o an index
  -   // sort them by date
  -   return -item.date
  - }).first(35).value() // and finally take the first 5
  section#page
    .page-header
      h1 Les derniers articles
    table.table.table-striped
      tbody
        each article in articles
          tr
            td
              span
                = article.metadata.date
            td
              a(href=article.url)= article.title

